<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Bot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <!-- partial:index.partial.html -->
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-bug"></i> Chatbot <i class="fas fa-bug"></i>
            </div>
        </header>

        <main class="msger-chat">
            <div class="msg left-msg">
                <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)">
                </div>

                <div class="msg-bubble">
                    <div class="msg-info">
                        <div class="msg-info-name">Bot</div>
                        <div class="msg-info-time">00:00</div>
                    </div>

                    <div class="msg-text">
                        <p>Hi, Iam Shanti, a bot from Shantiniketan Women’s College. I can help you. May I know you name?</p>
                        <!-- <label>Admission</label>
                        <input type="radio" id="admsr" name="primary" onclick="primary('admsdiv', 'admsr')">
                        <label>General Information</label>
                        <input type="radio" id="infor" name="primary" onclick="primary('infodiv', 'infor')">
                        <label for="demo">Academics</label>
                        <input type="radio" id="academicsr" name="primary"
                            onclick="primary('academicsdiv', 'academicsr')">
                        <label>Faculty</label>
                        <input type="radio" id="facultyr" name="primary" onclick="primary('facultydiv', 'facultyr')"> -->
                    </div>

                    <div id="infodiv" style="display:none;">
                        <p><label>College Address</label>
                            <input type="radio" id="infor0" name="info" onclick="info('clgaddr', 'infor0')">
                        </p>
                        <pre id="clgaddr" style="display: none;"> Shantiniketan Address :  1st Floor, Nina Towers, Erragadda Main Rd, Opp Telephone Exchange,
  Vikaspuri, Erragadda, Hyderabad, Telangana 500018
  </pre>
                        <p>Contact Information</p>
                        <input type="radio" id="infor1" name="info" onclick="info('contactinfo', 'infor1')"></p>
                        <pre id="contactinfo" style="display: none;">Email Id : shantiniketancolleges@gmail.com
Contact Number : +91 964 040 6778 </pre>
                        <p><label>Website</label>
                            <input type="radio" id="infor2" name="info" onclick="info('web', 'infor2')">
                        </p>
                        <a href="http://shantiniketancollege.com/" id="web" style="display: none;">Click here</a>
                    </div>

                    <div id="admsdiv" style="display:none;">
                        <p><label>Download Brochure</label>
                            <input type="radio" id="admsr0" name="adms" onclick="admission('brochure', 'admsr0')">
                        </p>
                        <a href="#" id="brochure" style="display: none;">Click here to download brochure</a>
                        <label>Application Form</label>
                        <input type="radio" id="admsr1" name="adms" onclick="admission('appform', 'admsr1')"></p>
                        <a href="#" id="appform" style="display: none;">Click here to download Application form</a>
                        <label>More Information</label>
                        <input type="radio" id="admsr2" name="adms" onclick="admission('moreinfo', 'admsr2')"></p>
                        <a href="#" id="moreinfo" style="display: none;">Click here to go to college website</a>
                    </div>

                    <div id="academicsdiv" style="display:none;">
                        <p><label>UG</label>
                            <input type="radio" id="academicsr0" name="courses"
                                onclick="academics('ugdiv', 'academicsr0')">
                        </p>
                        <p id="academics1"><label for="academics1">PG</label>
                            <input type="radio" id="academicsr1" name="courses"
                                onclick="academics('pgdiv', 'academicsr1')">
                        </p>
                    </div>

                    <div id="ugdiv" style="display:none;">
                        <p><label>B.Sc</label>
                            <input type="radio" id="ugr0" name="ug" onclick="undergrad('b.sc', 'ugr0')">
                        </p>
                        <p id="b.sc" style="display: none;"> It is a full time online graduation(3 year) course. it has
                            6 braches: Maths, Physics and Computer Science, Maths Electronics and Computer Science,
                            Maths Statistics and Computer Science, Math, Physics and Chemistry, Computer Science and
                            Bio-Technology, Microbiology, Chemistry.</p>
                        <p><label>B.Com</label>
                            <input type="radio" id="ugr1" name="ug" onclick="undergrad('b.com', 'ugr1')">
                        </p>
                        <p id="b.com" style="display: none;"> It is a full time online graduation(3 year) course. it has
                            2 braches: Computer Science and General.</p>
                    </div>

                    <div id="pgdiv" style="display:none;">
                        <p><label>M.Sc</label>
                            <input type="radio" id="pgr0" name="pg" onclick="postgrad('m.sc', 'pgr0')">
                        </p>
                        <p id="m.sc" style="display: none;"> It is a full time online post graduation(2 year) course. It
                            has 2 braches: Computer Science and General.</p>
                        <p><label>M.Com</label>
                            <input type="radio" id="pgr1" name="pg" onclick="postgrad('m.com', 'pgr1')">
                        </p>
                        <p id="m.com" style="display: none;"> It is a full time online post graduation(2 year) course.
                        </p>
                    </div>


                    <div id="facultydiv" style="display:none;">
                        <label>B.Sc</label>
                        <input type="radio" id="facultyr0" name="faculty" onclick="faculty('bsc', 'facultyr0')"></p>
                        <a href="#" id="bsc" style="display: none;"> B. Sc faculty details </a>
                        <label>B. Com</label>
                        <input type="radio" id="facultyr1" name="faculty" onclick="faculty('bcom', 'facultyr1')"></p>
                        <a href="#" id="bcom" style="display: none;"> B. Com faculty details </a>
                        <label>M. Sc</label>
                        <input type="radio" id="facultyr2" name="faculty" onclick="faculty('msc', 'facultyr2')"></p>
                        <a href="#" id="msc" style="display: none;"> M. Sc faculty details </a>
                        <label>M. Com</label>
                        <input type="radio" id="facultyr3" name="faculty" onclick="faculty('mcom', 'facultyr3')"></p>
                        <a href="#" id="mcom" style="display: none;"> M. Com faculty details </a>
                    </div>
                    
                </div>
            </div>

        </main>
        <form class="msger-inputarea">
            <input type="text" class="msger-input" id="textInput" placeholder="Type your name here..." autocomplete="off">
            <button type="submit" class="msger-send-btn"><i class="fas fa-paper-plane"></i></button>
        </form>
    </section>
    <!-- text/js -->
    <script src="{{url_for('static',filename='js/script.js')}} " type="javascript"></script>
    <script src="{{url_for('static',filename='js/one.js')}} "></script>
    <script src="{{url_for('static',filename='js/two.js')}} "></script>

</body>

</html>