@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

/* utils */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: "poppins", Helvetica, sans-serif;
  overflow: hidden;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  flex-shrink: 1;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.msger-header {
  /* display: flex; */
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-chat {
  /* position: relative; */
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

/* chat styles */

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  position: relative;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  background: var(--left-msg-bg);
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

/* user message styles */

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

/* form-input style */

.msger-form {
  display: flex;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}
.msger-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  flex-grow: 1;
  font-family: inherit;
}
.msger-input::placeholder {
  opacity: 0.6;
}

.msger-send-btn {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 10px;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
  transition: transform 0.15s;
  color: rgb(36, 98, 0);
  border-radius: 50%;
}
.msger-send-btn:active {
  transform: scale(0.95);
}

/* chat interface */

.msger-chat {
  background-color: #fcfcfe;
  background-image: url("https://leverageedu.com/blog/wp-content/uploads/2019/09/Importance-of-Books-800x500.png");
}

/* loading bubble */
.typing-anim {
  background-color: var(--left-msg-bg);
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: none;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: typingAnimation 2s infinite ease-in-out;
  background-color: #333;
  border-radius: 50%;
  height: 7px;
  margin-right: 5px;
  width: 7px;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 320ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 440ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

.active {
  display: inline-block;
}

@keyframes typingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #333;
  }
  30% {
    transform: translateY(-7px);
    background-color: rgba(51, 51, 51, 0.7);
  }
  48% {
    transform: translateY(0px);
    background-color: rgba(51, 51, 51, 0.45);
  }
}

/* Menu styles */

.menu {
  width: 70%;
  padding: 0.5rem;
  margin: 0.7rem auto;
}

.menu-list {
  list-style: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.45rem;
  flex-wrap: wrap;
}

.menu-item {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.menu-link {
  display: inline-block;
  padding: 8px 1.2rem;
  border-radius: 20px;
  background-color: #333;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.5s linear;
  font-weight: bold;
  cursor: pointer;
}
.menu-link:hover {
  background: rgba(218, 218, 218, 0.85);
  color: #333;
}

.mail-form {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
}

.form-heading {
  color: #fff;
}

.mail-form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
}

.email-div,
.contact-div {
  width: 100%;
}
.email-input,
.contact-input {
  width: inherit;
  padding: 1rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 20px;
  outline: none;
  border: none;
  text-align: center;
}
.submit-details {
  align-self: flex-end;
  width: 25%;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: green;
  color: #eee;
  outline: none;
  border: none;
  border-radius: 20px;
}
